/* Overlay and Inputs */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay__content {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.overlay__content h3 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.input,
.ranking-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.button {
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  border: none;
}

.button--save {
  background-color: #4CAF50;
  color: white;
  margin-right: 10px;
}

.button--delete {
  background-color: #E94E77;
  color: white;
}

.button--close {
  background-color: #ccc;
  color: white;
  margin-top: 10px;
  width: 100%;
}

.button-group {
  display: flex;
  justify-content: space-between;
}
